
    <figure class="marco portada hijo principal">
      <a class="link" href="https://www.facebook.com/zyanya.rockstar" title="ir al proyecto" target="_blank">
        <img class="imagen" src="https://pbs.twimg.com/profile_images/1149757711/zyanya3.JPG" alt="" />
        <p class="descripcion">
            <b> Correo: zyanya_rockstar@hotmail.com </b>
        </p>
      </a>

    </figure>
{{outlet}}
